<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Home</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <h3>Listas Cadastradas</h3>
  <h4>Minhas Listas</h4>
  <ion-list *ngFor="let item of lista" >
    <button ion-item padding-left style="border-bottom: 1px grey solid" (click)="abreDetalhes(item)" >
        {{item.payload.val().descricao}}
    </button>
  </ion-list>

  <br/>
  <h4>Compartilhadas comigo</h4>
  <ion-list *ngFor="let item of listaCompartilhada" >
    <button ion-item padding-left style="border-bottom: 1px grey solid" (click)="abreDetalhes(item)" >
        {{item.payload.val().descricao}}
    </button>
  </ion-list>

</ion-content>
